.main {
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

header {
  background-color: rgb(51 51 51);
  background-position: center center;
}

.inner_nav {
  padding: 0 35px;

  height: 108px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inner_nav_element_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.email > a {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.email > a:hover {
  text-decoration: underline;
}

.menu-button {
  width: 40px;
  height: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  border: none;
  cursor: pointer;
}

.line-1 {
  width: 26px;
  height: 2px;
  background-color: white;
}

.line-2 {
  width: 22px;
  height: 2px;
  background-color: white;
}

.line-3 {
  width: 18px;
  height: 2px;
  background-color: white;
}

.hero_section {
  height: auto;
  padding: 0 15px;
  background-color: rgb(51 51 51);
  background-position: center center;
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}

.inner_hero {
  display: flex;
  align-items: flex-start;
  /*  height: auto; */
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  max-width: min(100%, 1190px);
  width: 100%;
  position: relative;
}

.inner_hero_user_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  position: relative;
}

.first_name {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 8rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px white;
  line-height: 0.9;
  margin: 0;
  position: relative;
  z-index: 2;
}

.last_name {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 8rem;
  font-weight: 700;
  color: white;
  line-height: 1;
  margin: 0;
  padding-left: 116px;
}

.card-avatar {
  overflow: hidden;
  position: relative;
  width: 500px;
  top: 0;
  right: 0;
}

.overlapping-text {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  z-index: 20;
  pointer-events: none;
}

.bridge-text {
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  font-size: 11vw;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
}

.general_wrap {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 11rem;
}

.section_area {
  padding: 0 15px;
  margin-bottom: 3.5rem;
}

.section_content_wrapper {
  gap: 0px 0px;
  height: 100%;
  margin: 0 auto;
  max-width: min(100%, 1220px);
  padding-inline-end: 0;
  padding-inline-start: 0;
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 0 15px;
}

.header_section {
  margin-bottom: 57.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

.step {
  font-size: 1rem;
  font-weight: bold;
}

section {
  height: 600px;
}

.about {
  background-color: #f5f5f7;
}

.body_section {
  padding: 0 34px;
  text-align: center;
  color: #232323;
  font-size: 1.25rem;
  line-height: 1.875rem;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
.description {
  margin: 0;
  white-space: normal;
  overflow-wrap: break-word;
}

.services {
  overflow: hidden;
  background-color: rgb(51 51 51);
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1.95' height='1.95'><rect width='1.9' height='1.9' fill='rgb(191, 3, 31)'/></svg>"); */
  background-position: center center;
  height: auto;
}

.parent {
  gap: 0;
  margin: 0 auto;
  max-width: min(100%, 1220px);
  padding-inline-end: 0;
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.first_child {
  width: 60%;
  position: relative;
}

.second_child {
  width: 40%;
  display: flex;
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 0%;
  margin-right: 0%;
}
.service_image {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  /* height: 100%; */
}

.services_divider {
  height: 5rem;
}

.service_heading {
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 2.7rem;
  letter-spacing: -1px;
  color: white;
  margin: 0px 0px 20px 0px;
}

.widget-container {
  margin: 0px 0px 30px 0px;
  font-size: 1.125rem;
  line-height: 1.875rem;
  white-space: normal;
  overflow-wrap: break-word;
  padding: 0 15px 0 0;
}
.progress-bar {
  position: relative;
  background-color: #000000;
  height: 4px;
  overflow: visible;
}
.progress-text {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  line-height: 22px;
  padding-left: 0;
  position: absolute;
  bottom: 15px;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.progress-percentage {
  position: absolute;
  bottom: 0.5rem;
  right: 0px;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  min-width: 40px;
  min-height: 26px;
  padding: 7px;
  background-color: #000;
  border-radius: 3px;
  text-align: center;
}
.progress-wrapper {
  margin: 8% 0% 12% 0%;
}
.services_main-content {
  padding: 0 0 30px 0;
}

footer {
  background-color: #f5f5f7;
  color: #232323;
  padding: 60px 20px 40px;
}

.footer-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-column {
  flex: 1 1 250px;
  min-width: 200px;
}

.footer-column h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.footer-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #232323;
  gap: 5px;
}

.footer-info i {
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
  color: #00aced;
}

.footer-info a {
  color: #232323;
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons a {
  color: #ccc;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00aced;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-column {
    flex: 1 1 100px;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 0.875rem;
  color: #555;
  width: 100%;
}

.footer-legal-links {
  margin-bottom: 10px;
}

.footer-legal-links a {
  color: #232323;
  text-decoration: none;
  margin: 0 10px;
}

.footer-legal-links a:hover {
  text-decoration: underline;
}

.footer-legal-links span {
  color: #aaa;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    max-width: 80%;
  }
  .footer-column {
    min-width: 0;
    flex: none;
  }
}

@media (max-width: 600px) {
  .footer-legal-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.footer-info > .footer_email {
  color: rgb(0, 102, 204);
}

.footer_email:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .parent {
    flex-direction: column-reverse;
    width: 80%;
  }
  .divider {
    height: 6rem;
  }
  section {
    height: auto;
  }
  .first_child,
  .second_child {
    width: 100%;
    position: relative;
  }

  .service_image {
    position: relative;
    bottom: auto;
    top: auto;
  }
}

@media (max-width: 1023px) {
  .inner_hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .inner_hero_user_name {
    align-items: center;
    margin-bottom: 20px;
  }
  .first_name {
    font-size: 15vw;
    line-height: 15vw;
  }

  .last_name {
    padding-left: 0;
    font-size: 15vw;
  }

  .card-avatar {
    position: static;
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .inner_nav {
    justify-content: center;
  }
}

.menu-button {
  width: 30px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
  border: none;
  background: none;
}

.menu-line {
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.menu-button.open .line-1 {
  transform: translateY(10px) rotate(45deg);
}
.menu-button.open .line-2 {
  opacity: 0;
}
.menu-button.open .line-3 {
  transform: translateY(-10px) rotate(-45deg);
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.fullscreen-menu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.fullscreen-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.fullscreen-menu li {
  margin: 20px 0;
  font-size: 2rem;
}

.fullscreen-menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.fullscreen-menu a:hover {
  opacity: 0.7;
}

.website_url:hover {
  color: rgb(0, 102, 204);
}

.progress_wrapper {
  width: 100%;
}
