.form-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('https://static.xolo.io/h-202505-006/hub/images/login/login-background.svg');
  background-size: cover;
  background-position: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input {
  width: 100%;
}
