.back_button {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: transparent;
  border: none;
  color: #06c;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 1100;
}

.back_button:hover {
  text-decoration: underline;
}
